@charset "UTF-8";

body{
    background-color: rgb(57, 103, 103);
    font: normal 15px arial;
}

section{
    font: normal 20px arial; 
    background-color: white;
    padding: 100px;
    width: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447);
}

h1{
    font:normal, 30px, arial;
    color: white;
    text-align: center;
    font: normal 50px, arial;
}

footer{
    padding: 10px;
    font:normal 15px;
    text-align: center;
    color: white;
   font-style: italic;
}