@charset " UTF-8";

body{
    background-color: rgba(10, 30, 145, 0.7);
    font: normal 15px arial;
}

header{
    color: white;
    text-align: center;
    

}
section{
    background: white;
    border-radius:10px ;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.436);

}

#res{ /* pra tirar a barra de rolagem*/
    margin:auto;
    overflow: hidden;
}

footer{
    font: 20px arial;
    color: white;
    text-align: center;
    font-style:italic;

}
